<!-- login.hbs -->
<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex justify-content-center py-4">
                    <a href="/" class="logo d-flex align-items-center w-auto">
                        <img src="/img/logo.png" alt="">
                        <span class="d-none d-lg-block">QRS Portal</span>
                    </a>
                </div><!-- End Logo -->

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-1 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Enter your email &amp; password to login</p>
                        </div>

                        <form action="/auth/login" method="post" class="row g-3 needs-validation" role="form" novalidate>
                            {{#if errors}}
                                <div class="alert alert-danger" role="alert">
                                    {{#each errors}}
                                        <p>{{this.msg}}</p>
                                    {{/each}}
                                </div>
                            {{/if}}
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">

                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                                    <label for="email" class=""></label>
                                    {{#if errors}}
                                        {{{validationMessage field='email' errors=errors}}}
                                    {{/if}}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" name="password" class="form-control" placeholder="Your Password" required>
                                    <label for="password" class=""></label>
                                    {{#if errors}}
                                        {{{validationMessage field='password' errors=errors}}}
                                    {{/if}}
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input type="checkbox" name="rememberMe" class="form-check-input">
                                    <label for="rememberMe" class="form-check-label"></label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Login</button>
                            </div>
                            <div class="col-12">
                                <p class="small mb-0"><a href="/auth/forgotpassword" class="small">Forgot your password?</a></p>
                            </div>

                        </form>
                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
