<!-- views/resetPassword.hbs -->

<!-- Title -->
<h2>Reset password.</h2>

<!-- Form -->
<form action="/auth/resetpassword" method="POST" class="form-horizontal" role="form">
    {{ csrfToken }} <!-- CSRF token -->

    <!-- Hidden field for code -->
    <input type="hidden" name="Code" value="{{ Code }}">

    <!-- Email field -->
    <div class="form-group">
        <label for="Email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="text" id="Email" name="Email" class="form-control" value="{{ Email }}">
        </div>
    </div>

    <!-- Password field -->
    <div class="form-group">
        <label for="Password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="Password" name="Password" class="form-control">
        </div>
    </div>

    <!-- Confirm Password field -->
    <div class="form-group">
        <label for="ConfirmPassword" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control">
        </div>
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <input type="submit" class="btn btn-primary" value="Reset">
        </div>
    </div>
</form>

<!-- Scripts -->
<script src="/js/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
