<!-- views/resetPassword.hbs -->

<!-- Title -->
<h2>Reset password.</h2>
{{#if Message}}
    {{#if (eq Message "ChangePasswordSuccess")}}
        <div class="text-success py-4">Password changed successfully. <a href="/auth/login">Click here to login</a></div>
    {{/if}}
    {{#if (ne Message "ChangePasswordSuccess")}}
        <div class="text-danger py-4">{{Message}}</div>
    {{/if}}
{{/if}}
<!-- Form -->
<form action="/auth/resetpassword" method="POST" class="form-horizontal" role="form">
   

    <!-- Hidden field for code -->
    <input type="hidden" name="code" value="{{ code }}">

    <!-- Email field -->
    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="text" id="email" name="email" class="form-control" value="{{ email }}">
        </div>
    </div>

    <!-- Password field -->
    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="password" name="password" class="form-control">
        </div>
    </div>

    <!-- Confirm Password field -->
    <div class="form-group">
        <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
        </div>
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <input type="submit" class="btn btn-primary" value="Reset">
        </div>
    </div>
</form>

<!-- Scripts -->
<script src="/js/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
