<!-- views/changePassword.hbs -->

<!-- Title -->
<h2>Change Password.</h2>

<!-- Form -->
<form action="/dashboard/changepassword" method="POST" class="form-horizontal" role="form">
    {{ csrfToken }} <!-- CSRF token -->

    <!-- oldPassword field -->
    <div class="form-group">
        <label for="oldPassword" class="col-md-2 control-label">Old Password</label>
        <div class="col-md-10">
            <input type="password" id="oldPassword" name="oldPassword" class="form-control">
        </div>
    </div>

    <!-- newPassword field -->
    <div class="form-group">
        <label for="newPassword" class="col-md-2 control-label">New Password</label>
        <div class="col-md-10">
            <input type="password" id="newPassword" name="newPassword" class="form-control">
        </div>
    </div>

    <!-- confirmPassword field -->
    <div class="form-group">
        <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
        </div>
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <input type="submit" class="btn btn-primary" value="Change password">
        </div>
    </div>
</form>

<!-- Scripts -->
<script src="/js/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
